<ifModule mod_headers.c>
    <FilesMatch "\.(js|css|txt)$">
        Header set Cache-Control "max-age=604801"
    </FilesMatch>
    <FilesMatch "\.(jpg|jpeg|png|bmp)$">
        Header set Cache-Control "max-age=604801"
    </FilesMatch>
</IfModule>